#panel{
    display: flex;
    flex-direction: column;
}

.intf{
    display:flex;
    flex-direction: row;
}

.secL, .secS{
    display:flex;
    flex:1 0 100px;
    flex-direction: column;
}

.secS{
    flex-grow: 3;
}