.col{
    border:1px solid black;
    float:left;
    width: 100%;
}
table,th,td{
    border:3px solid black;
}
table{
    border-collapse: collapse;
    width: 100%;
}
.ImePrez{
    width: 200px;
}
th{
    background-color:lightslategray;
}
