@page
@using TreciCas.Pages
@model IndexModel
@functions {
    int age;

    int Age
    {
        set
        {
            age = value;
        }
        get
        {
            return age;
        }
    }

    string GetName()
    {
        Age = 25;
        return "Ime Prezime";
    }
}
@{
    Layout = "_Layout";
    ViewData["Title"] = "Indeks stranica";
}
<a href="./Vrtovi">Vrtovi</a>
<h1>Ovo je stranica.</h1>
<h1>Dobrodošli, @GetName(), @Age godina.</h1>
@for(int i = 1; i <= 100; i++)
{
    <p>Ovo je paragraf broj: @i</p>
}